.card {
  display: flex;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  width: 100%;
  height: 150px;
  margin-top: 20xpx;
  padding: 6px;
}
.card h3 {
  text-align: start;
  margin-left: 5px;
}
.card p {
  text-align: left;
  margin-left: 5px;
  overflow: hidden;
}
.Aside {
  display: flex;
  flex-direction: column;
  grid-area: aside;
  align-self: start;
  /* border: 2px solid black; */
  background-color: palegreen;
}
.Aside h2 {
  text-align: left;
}
.asideContent {
  display: flex;
  flex-direction: column;
}
.SlikaNovosti {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}
.TekstNovosti {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 5px;
  width: 64%;
}
.Oznaka{
  display: flex;
}
.Oznaka::before {
  content: '';
  height: 30px;
  width: 5px;
  background-color: #4a4a4a;
  margin-left: 5px ;
  margin-top: 5px;
}

.slika{
  width: 35%;
}
.naj{
  margin-left: 5px;
}

.naslovna{
  background-color: #f7ac5cb2;
}
.kultura{
  background-color: #0479ff69;
}
.zivotinje{
  background-color: #e1ee2d3b;
}
.putovanja{
  background-color: #ff00007a;
}
.zanimljivosti{
  background-color: #29a6295e;
}


.zivotinje::before{
  background-color: yellow;
}
.kultura::before{
  background-color: blue;
}
.zanimljivosti::before{
  background-color: green;
}
.putovanja::before{
  background-color: red;
}
@supports (display: grid) {
  @media screen and (max-width: 400px) {
    /*za mobitele */
    .Aside {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .asideContent {
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      display: flex;
      flex-direction: column;
      grid-auto-rows: 100px;
      overflow-y: hidden;
    }
    .Oznaka::before{
      height: 40px;
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  /*za tablete */
  .card {
    position: relative;
    text-align: left;
  }
  .TekstNovosti {
    font-size: 0.9rem;
    font-weight: 400;
    bottom: 10px;
    left: 0px;
  }
}

