.card {
  display: flex;
  border: 1px solid black;
  width: 100%;
  margin-top: 20xpx;
}
.card h3 {
  text-align: start;
  margin-left: 5px;
}
.card p {
  text-align: left;
  margin-left: 5px;
}
.Aside {
  display: flex;
  flex-direction: column;
  grid-area: aside;
  border: 2px solid black;
  background-color: palegreen;
  align-self: start;
}
.Aside h2 {
  text-align: left;
}
.asideContent {
  display: flex;
  flex-direction: column;
}
.SlikaNovosti {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}
.TekstNovosti {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 5px;
}
.Oznaka{
  display: flex;
}
.Oznaka::before {
  content: '';
  height: 25px;
  width: 5px;
  background-color: #4a4a4a;
  margin-left: 5px ;
  margin-top: 5px;
}
@supports (display: grid) {
  @media screen and (max-width: 400px) {
    /*za mobitele */
    .Aside {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .asideContent {
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      display: flex;
      flex-direction: column;
      grid-auto-rows: 100px;
      overflow-y: hidden;
    }
    .Oznaka::before{
      height: 40px;
    }
  }
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  /*za tablete */
  .card {
    position: relative;
    text-align: left;
    font-size: 10px;
    color: white;
  }
  .TekstNovosti {
    position: absolute;
    bottom: 10px;
    left: 0px;
    text-shadow: 0 1px 0 black;
  }
 
}
